.git
.gitignore
node_modules
.myst
_build
docs/build
.ipynb_checkpoints
**/.ipynb_checkpoints
.DS_Store
**/.DS_Store
__pycache__
*.pyc
*.pyo
execute
**/execute
.github
scripts/*
!scripts/inject_jupyterhub_launch_links.py
